<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page is to edit msg</title>
</head>
<body>
    <h1>Edit your chat <%= chat.id %></h1>
    <P> send by <% chat.from %> to <% chat.to %></P>
    <form>
        <textarea name="msg"> <% chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>