<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create the new chat</title>
    <!-- <link rel="stylesheet" href="/public/style_newchats.css"> -->
     <link rel="stylesheet" href="/public/styleChat.css">
</head>
<body>
    <form method="post" action="/chats">
    <input type="text" class="from" placeholder="who are you?" name="from">
    <br><br>
    <textarea name="msg" class="msg" placeholder="write your massage.."></textarea>
    <br><br>
    <input type="text" class="to" placeholder="add resiver.." name="to"><br><br>
    <button>create chat</button>
    </form>
</body>
</html>